// colors
$color-orange: #ec7700;
$color-orange-dark: #de5c13;
$color-white: #fff;
$color-black: #000;
$color-green: #61a60e;
$color-grey-dark: #54565a;
$color-grey-medium: #aeaeae;
$color-grey-light: #d9d9d9;
