.main {
    width: 100%;
}

.page-layout {
    position: relative;
    max-width: 150rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    column-gap: 10rem;
    gap: 5rem;
    height: 75rem;
    flex-wrap: wrap;
    padding: 0rem 12rem 8rem;

    @include respond(small-screen) {
        padding: 0rem 12rem 8rem;
        // column-gap: 4rem;
    }

    @include respond(tab-land) {
        max-width: 120rem;
        padding: 0rem 4rem 8rem;
    }

    @include respond(tab-port) {
        height: fit-content;
        width: 100%;
        padding: 7rem 4rem 2.4rem;
        gap: 4rem;
    }

    @include respond(phone) {
        flex-direction: column;
        width: 100%;
        padding: 4rem 1.2rem 2.4rem;
        gap: 3.2rem;
    }
}
