@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  animation: fadeIn 1s;
  font-family: "Roboto", sans-serif;
  font-size: 62.5%; /* 16px = 100%; 10px = 62.5% */
  background-color: #f8f8f8;
}
@media (max-width: 22em) {
  html {
    font-size: 45%;
  }
}

body {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

::-moz-selection {
  background-color: rgba(236, 118, 0, 0.4196078431);
}

::selection {
  background-color: rgba(236, 118, 0, 0.4196078431);
}

img,
button {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }
}
.navbar {
  padding: 2rem 1rem 1.3rem;
  border-bottom: 1px solid #d9d9d9;
}
@media (max-width: 37.5em) {
  .navbar {
    width: 100%;
    padding: 1.5rem 1.6rem;
  }
}
.navbar__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 115rem;
  margin: 0 auto;
}
@media (max-width: 37.5em) {
  .navbar__container {
    width: 100%;
  }
}
.navbar__btns a {
  margin-left: 0.8rem;
  font-size: 1.6rem;
  padding: 1.2rem 1.6rem;
  border-radius: 0.8rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
@media (max-width: 37.5em) {
  .navbar__btns a {
    font-size: 1.4rem;
  }
}
.navbar__btns--login {
  border: 1px solid #54565a;
  transition: all 0.2s;
}
.navbar__btns--login:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: #de5c13;
  color: #fff;
  border: 1px solid #de5c13;
}
.navbar__btns--signup {
  background-color: #ec7700;
  color: #fff;
  transition: all 0.2s;
}
.navbar__btns--signup:hover {
  background-color: #de5c13;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.header {
  width: 100%;
  overflow-x: hidden;
}

.header-layout {
  position: relative;
  max-width: 140rem;
  margin: 0 auto;
  display: flex;
  margin-top: 12rem;
  align-items: center;
  flex-direction: column;
  height: 60rem;
  flex-wrap: wrap;
}
@media (max-width: 75em) {
  .header-layout {
    max-width: 120rem;
    padding: 0rem 4rem 8rem;
  }
}
@media (max-width: 62.5em) {
  .header-layout {
    height: fit-content;
    width: 100%;
    padding: 2rem 4rem 2.4rem;
    margin-top: 5rem;
    gap: 4rem;
  }
}
@media (max-width: 37.5em) {
  .header-layout {
    flex-direction: column;
    width: 100%;
    padding: 2rem 1.2rem 2.4rem;
    margin-top: 2rem;
    gap: 3.2rem;
  }
}

.rating {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
  width: 64rem;
  margin-top: 7rem;
}
@media (max-width: 75em) {
  .rating {
    width: 43rem;
  }
}
@media (max-width: 62.5em) {
  .rating {
    margin: 8rem auto 3rem;
    width: fit-content;
    order: 3;
  }
}
@media (max-width: 37.5em) {
  .rating {
    width: fit-content;
    margin: 0 auto;
  }
}
.rating__icon {
  width: 3.2rem;
  height: 3.2rem;
}
.rating__stars img {
  width: 2.4rem;
  height: 2.4rem;
  margin-top: 0.5rem;
}
.rating__stars p {
  margin-top: 0.5rem;
  font-size: 1.4rem;
  color: #aeaeae;
}
.rating__stars span {
  font-weight: 700;
  color: #54565a;
}

.form {
  position: relative;
  text-align: center;
  max-width: 40rem;
  padding: 4rem 4rem 2.4rem;
  border: 2px solid #61a60e;
  border-radius: 1.6rem;
  background-color: #fff;
  box-shadow: 0 1.5rem 8.3rem 0 rgba(159, 159, 159, 0.12);
}
@media (max-width: 75em) {
  .form {
    padding: 4rem 2rem 2.4rem;
  }
}
@media (max-width: 62.5em) {
  .form {
    min-width: 45rem;
    order: 2;
  }
}
@media (max-width: 37.5em) {
  .form {
    max-width: 100%;
    min-width: 100%;
    padding: 5rem 2rem 2.4rem;
  }
}
.form__bonus {
  position: absolute;
  top: -2.5rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.6rem;
  color: #fff;
  background-color: #61a60e;
  padding: 1.2rem 1.6rem;
  border-radius: 4px;
}
@media (max-width: 37.5em) {
  .form__bonus {
    color: #61a60e;
    background-color: #fff;
    border: 2px solid #61a60e;
    padding: 0.8rem 1.6rem;
    font-weight: 700;
    border-radius: 5px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: -moz-fit-content;
    width: fit-content;
  }
}
.form__heading {
  font-size: 2rem;
  font-weight: 500;
  color: #54565a;
  margin-bottom: 2.4rem;
}
.form__input, .form__btn {
  width: 100%;
  height: 5.6rem;
  border-radius: 0.8rem;
  font-family: inherit;
  font-size: 1.6rem;
}
.form__input {
  border: 1px solid #aeaeae;
  padding: 1.2rem 1.6rem;
  margin-bottom: 1.2rem;
  color: #54565a;
  font-weight: 300;
  outline: none;
}
.form__btn {
  background-color: #ec7700;
  border: none;
  color: #fff;
  margin-bottom: 2.4rem;
  cursor: pointer;
  transition: all 0.2s;
}
.form__btn:hover {
  background-color: #de5c13;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.form__social-login {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  font-size: 1.4rem;
  color: #54565a;
}
.form__socials {
  margin-top: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}
.form__socials--option {
  border-radius: 3px;
  border: 1px solid #d9d9d9;
  padding: 2rem;
  cursor: pointer;
  position: relative;
  z-index: 1;
  transition: all 0.2s;
}
.form__socials--option img {
  width: 2.4rem;
  height: 2.4rem;
}
.form__socials--option:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.form__terms {
  color: #aeaeae;
  font-size: 1.2rem;
  line-height: 2rem;
}
.form__terms span {
  text-decoration: underline;
  position: relative;
  z-index: 1;
  cursor: pointer;
}
.form__user-login {
  font-size: 1.2rem;
  color: #54565a;
}
.form__user-login span {
  color: #ec7700;
  text-decoration: underline;
  cursor: pointer;
  position: relative;
  z-index: 1;
  transition: all 0.2s;
}
.form__user-login span:hover {
  color: #de5c13;
}
.form__avatar {
  position: absolute;
  right: -10.5rem;
  bottom: -9.2rem;
}
@media (max-width: 37.5em) {
  .form__avatar {
    display: none;
  }
}
.form__avatar img {
  width: 27.1rem;
  height: 27.1rem;
}

.header-content {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  overflow: hidden;
  padding-top: 7rem;
}
@media (max-width: 75em) {
  .header-content {
    width: 43rem;
  }
}
@media (max-width: 62.5em) {
  .header-content {
    padding-top: 0rem;
    padding-bottom: 5rem;
    width: -moz-fit-header-content;
    width: fit-content;
    margin: 0 auto;
    order: 1;
  }
}
@media (max-width: 37.5em) {
  .header-content {
    width: 100%;
    margin: 0 auto;
    padding: 0rem 1.2rem 3.5rem;
  }
}
.header-content__heading {
  font-size: 4.8rem;
  font-weight: 400;
}
@media (max-width: 75em) {
  .header-content__heading {
    font-size: 4rem;
  }
}
@media (max-width: 37.5em) {
  .header-content__heading {
    line-height: 4.8rem;
    font-size: 3.2rem;
  }
}
.header-content__heading span {
  font-weight: 500;
  color: #ec7700;
  display: block;
}
.header-content__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.header-content__list--item {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  font-size: 2rem;
  line-height: 3.2rem;
}
@media (max-width: 62.5em) {
  .header-content__list--item {
    font-size: 1.8rem;
  }
}
@media (max-width: 37.5em) {
  .header-content__list--item {
    font-size: 1.6rem;
    align-items: start;
    line-height: 2.4rem;
  }
}
.header-content__checkmark {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-content__checkmark img {
  width: 2.4rem;
  height: 2.4rem;
}
@media (max-width: 37.5em) {
  .header-content__checkmark img {
    width: 2.4rem;
    height: 2.4rem;
  }
}

/*# sourceMappingURL=styles.css.map */
