@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* ---------------base------------ */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%; /* 16px = 100%; 10px = 62.5% */
    background-color: #f8f8f8;

    @media only screen and (max-width: 22em) {
        font-size: 45%;
     }
}

body {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

/* ------------------ media queries settings--------- */

    /* tablet - portrait - 1000px : 16px */
    @media only screen and (max-width: 62.5em) {
    }

    /* tablet - landscape - 1500px : 16px */
    @media only screen and (max-width: 93.75em) {
    }

    /* phone - 600px : 16px */
    @media only screen and (max-width: 37.5em) {
    }

    /* small-phone - 350px : 16px */ 
    @media only screen and (max-width: 22em) {
    }



/* -------------variables------------- */

:root {
    --orange: #EC7700;
    --orange-dark: #de5c13;
    --white: #fff;
    --black: #000;
    --green: #61A60E;
    --grey-dark: #54565A;
    --grey-medium: #AEAEAE;
    --grey-light : #D9D9D9;
}

/* ------------animations------------ */

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-30px);
        -webkit-transform: translateY(-30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
        -webkit-transform: translateY(0);
    }
}


/* -----------navbar--------- */
.navbar {
    padding: 2rem 1rem 1.3rem;
    border-bottom: 1px solid var(--grey-light);

    @media only screen and (max-width: 37.5em) {
        width: 100%;
        padding: 1.5rem 1.6rem;
    }

}

.navbar__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 120rem;
    margin: 0 auto;

    @media only screen and (max-width: 37.5em) {
        width: 100%;
    }
}

.navbar__btns a {
    margin-left: .8rem;
    font-size: 1.6rem;
    padding: 1.2rem 1.6rem;
    border-radius: .8rem;
    user-select: none;

    @media only screen and (max-width: 37.5em) {
        font-size: 1.4rem;
    }

}

.navbar__btns--login {
    border: 1px solid var(--grey-dark);
    transition: all .2s;
}

.navbar__btns--login:hover {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: var(--orange-dark);
    color: var(--white);
    border: 1px solid var(--orange-dark);
}

.navbar__btns--signup {
    background-color: var(--orange);
    color: var(--white);
    transition: all .2s;
}

.navbar__btns--signup:hover{
    background-color: var(--orange-dark);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* -----------main---------- */

.main {
    width: 100%;
}

/* ----------page layout------------ */
.page-layout {
    position: relative;
    max-width: 150rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 23rem;
    padding: 13rem 10rem 8rem 8rem;

    /* tabet - landscape */
    @media only screen and (max-width: 93.75em) {
        gap: 10rem;
        max-width: 120rem;
        padding: 9rem 4rem 8rem;
    }

    /* tablet - portrait */
    @media only screen and (max-width: 62.5em) {
        flex-direction: column;
        width: 100%;
        padding: 7rem 4rem 2.4rem;
        gap: 4rem;
    }

    /* phone */
    @media only screen and (max-width: 37.5em) {
        flex-direction: column;
        width: 100%;
        padding: 4rem 1.2rem 2.4rem;
        gap: 3.2rem;
    }
    
}

/* ---------------content------------- */

.content {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding-bottom: 5rem;

    @media only screen and (max-width: 93.75em) {
        width: 43rem;
    }

    @media only screen and (max-width: 62.5em) {
        width: fit-content;
        margin: 0 auto;
    }

    @media only screen and (max-width: 37.5em) {
        width: 100%;
        margin: 0 auto;
        padding: 0rem 2rem 3.5rem;
    }
    
}

.content__heading {
    font-size: 4.8rem;
    font-weight: 400;

    @media only screen and (max-width: 93.75em) {
        font-size: 4rem;
    }

    @media only screen and (max-width: 62.5em) {
        font-size: 4rem;
    }

    @media only screen and (max-width: 37.5em) {
     line-height: 4.8rem;
     font-size: 3.2rem;
    }

}

.content__heading span {
    font-weight: 500;
    color: var(--orange);
    display: block;

}

.content__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.content__list-item {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    font-size: 2rem;
    line-height: 3.2rem;

    @media only screen and (max-width: 93.75em) {
        /* font-size: 1.8rem; */
    }

    @media only screen and (max-width: 62.5em) {
        font-size: 1.8rem;
    }

    @media only screen and (max-width: 37.5em) {
        font-size: 1.6rem;
        align-items: start;
        line-height: 2.4rem;
    }

}

.content__checkmark {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content__checkmark img {
    width: 2.4rem;
    height: 2.4rem;

    @media only screen and (max-width: 37.5em) {
        width: 2.4rem;
        height: 2.4rem;
    }
}


/* ---------------form--------------- */
.form {
    position: relative;
    text-align: center;
    max-width: 40rem;
    padding: 4rem 4rem 2.4rem;
    border: 2px solid var(--green);
    border-radius: 1.6rem;
    background-color: var(--white);
    box-shadow: 0 1.5rem 8.3rem 0 rgba(159, 159, 159, 0.12);


    @media only screen and (max-width: 93.75em) {
        max-width: 35rem;
        padding: 4rem 2rem 2.4rem;
    }

    @media only screen and (max-width: 62.5em) {
        min-width: 45rem;
    }


    @media only screen and (max-width: 37.5em) {
        max-width: 100%;
        min-width: 100%;
        padding: 5rem 2rem 2.4rem;
    }

}

.form__bonus {
    position: absolute;
    top: -2.5rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: fit-content;
    font-size: 1.6rem;
    color: var(--white);
    background-color: var(--green);
    padding: 1.2rem 1.6rem;
    border-radius: 4px;


    @media only screen and (max-width: 37.5em) {
        color: var(--green);
        background-color: var(--white);
        border: 2px solid var(--green);
        padding: 0.8rem 1.6rem;
        font-weight: 700;
        border-radius: 5px;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: fit-content;
    }
}

.form__heading {
    font-size: 2rem;
    font-weight: 500;
    color: var(--grey-dark);
    margin-bottom: 2.4rem;

}

.form__input, .form__btn{
    width: 100%;
    height: 5.6rem;
    border-radius: .8rem;
    font-family: inherit;
    font-size: 1.6rem;
}

.form__input{
    border: 1px solid var(--grey-medium);
    padding: 1.2rem 1.6rem; 
    margin-bottom: 1.2rem;
    color: var(--grey-dark);
    font-weight: 300;
    outline: none;
}

.form__btn{  
    background-color: var(--orange);
    border: none;
    color: var(--white);
    margin-bottom: 2.4rem;
    cursor: pointer;
    transition: all .2s;
}

.form__btn:hover {
    background-color: var(--orange-dark);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.form__social-login{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    font-size: 1.4rem;
    color: var(--grey-dark);
}

.form__socials{
    margin-top: .4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
}

.form__socials--option {
    border-radius: 3px;
    border: 1px solid var(--grey-light);
    padding: 2rem;
    cursor: pointer;
    position: relative;
    z-index: 1;
    transition: all .2s;
}

.form__socials--option img {
    width: 2.4rem;
    height: 2.4rem;
}

.form__socials--option:hover {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.form__terms{
    color: var(--grey-medium);
    font-size: 1.2rem;
    line-height: 2rem;
}

.form__terms span {
    text-decoration: underline;
    position: relative;
    z-index: 1;
    cursor: pointer;
}

.form__user-login {
    font-size: 1.2rem;
    color: var(--grey-dark);
}

.form__user-login span{
    color: var(--orange);
    text-decoration: underline;
    cursor: pointer;
    position: relative;
    z-index: 1;
    transition: all .2s;
}

.form__user-login span:hover {
    color: var(--orange-dark);
}

.form__avatar{
    position: absolute;
    right: -10.5rem;
    bottom: -9.2rem;

    @media only screen and (max-width: 37.5em) {
        display: none;
    }
}

.form__avatar img {
    width: 27.1rem;
    height: 27.1rem;

}

/* ------------------rating--------------- */
.rating {
    display: flex;
    gap: 1rem;
    align-items: start;
    position: absolute;
    left: 10.3rem;
    bottom: 5rem;

    @media only screen and (max-width: 93.75em) {
        left: 15.6rem;
        
    }

    @media only screen and (max-width: 62.5em) {
        position: relative;
        margin: 8rem auto 3rem;
        left: 0;
        bottom: 0;
    }

    @media only screen and (max-width: 37.5em) {
        position: relative;
        margin: 0 auto;
        left: 0;
        bottom: 0;
    }
}

.rating__icon {
    width: 3.2rem;
    height: 3.2rem;
}

.rating__stars img {
    width: 2.4rem;
    height: 2.4rem;
    margin-top: .5rem;
}

.rating__stars p {
    margin-top: .5rem;
    font-size: 1.4rem;
    color: var(--grey-medium);
}

.rating__stars span {
    font-weight: 700;
    color: var(--grey-dark);
}

/* having fun */

::selection{
    background-color:#ec76006b;
}

img, button {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none; 
    -webkit-user-drag: none;
}