.rating {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
    width: 64rem;
    margin-top: 7rem;

    @include respond(tab-land) {
        width: 43rem;
    }

    @include respond(tab-port) {
        margin: 8rem auto 3rem;
        align-items: center;
        width: fit-content;
        order: 3;
    }

    @include respond(phone) {
        align-items: center;
        width: fit-content;
        margin: 0 auto;
    }

    &__icon {
        width: 3.2rem;
        height: 3.2rem;
    }

    &__stars {
        & img {
            width: 2.4rem;
            height: 2.4rem;
            margin-top: 0.5rem;
        }

        & p {
            margin-top: 0.5rem;
            font-size: 1.4rem;
            color: $color-grey-medium;
        }

        & span {
            font-weight: 700;
            color: $color-grey-dark;
        }
    }
}
